@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply list-disc ml-4;
  }

  ol {
    @apply list-decimal ml-4;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

@layer components {
  .divider {
    @apply border-b-[3px] border-stone-100 mt-2 mb-4;
  }
}